<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', { page: 'Users'}) %> 

<body>

    <%- include('../partials/nav.ejs') %>

    <%- include('../partials/grid.ejs') %> 

</body>
</html>